
.root {
     -fx-background-image: url("background.jpg");
}
.btn0 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
.btn1 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
 .btn2 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
 .btn3 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
 .btn4 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
 .btn5 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
 .btn6 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
 .btn7 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
.btn8 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
.btn9 {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }
.btnPlus {
     -fx-background-color:
             linear-gradient(#f0ff35, #a9ff00),
             radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
         -fx-background-radius: 6, 5;
         -fx-background-insets: 0, 1;
         -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
         -fx-text-fill: #395306;
 }
 .btnMinus {
   -fx-background-color:
           linear-gradient(#f0ff35, #a9ff00),
           radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
       -fx-background-radius: 6, 5;
       -fx-background-insets: 0, 1;
       -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
       -fx-text-fill: #395306;
 }
 .btnMul {
     -fx-background-color:
             linear-gradient(#f0ff35, #a9ff00),
             radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
         -fx-background-radius: 6, 5;
         -fx-background-insets: 0, 1;
         -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
         -fx-text-fill: #395306;
}
 .btnDiv {-fx-background-color:
                 linear-gradient(#f0ff35, #a9ff00),
                 radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
             -fx-background-radius: 6, 5;
             -fx-background-insets: 0, 1;
             -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
             -fx-text-fill: #395306;
}
 .btnEqual -fx-background-color:
                  linear-gradient(#f0ff35, #a9ff00),
                  radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
              -fx-background-radius: 6, 5;
              -fx-background-insets: 0, 1;
              -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
              -fx-text-fill: #395306;
}
.btnPoint -fx-background-color:
                 linear-gradient(#f0ff35, #a9ff00),
                 radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
             -fx-background-radius: 6, 5;
             -fx-background-insets: 0, 1;
             -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
             -fx-text-fill: #395306;
}
.btnBackSpace -fx-background-color:
                     linear-gradient(#f0ff35, #a9ff00),
                     radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
                 -fx-background-radius: 6, 5;
                 -fx-background-insets: 0, 1;
                 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
                 -fx-text-fill: #395306;
}
.btnPercent -fx-background-color:
                   linear-gradient(#f0ff35, #a9ff00),
                   radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
               -fx-background-radius: 6, 5;
               -fx-background-insets: 0, 1;
               -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
               -fx-text-fill: #395306;
}
.btnClear -fx-background-color:
                 linear-gradient(#f0ff35, #a9ff00),
                 radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
             -fx-background-radius: 6, 5;
             -fx-background-insets: 0, 1;
             -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
             -fx-text-fill: #395306;
}